<!DOCTYPE html>
<html lang="<%= config.language %>">

<%
var subtitle = page.subtitle || page.title
var banner_img = page.banner_img || theme.index.banner_img
var banner_img_height = page.banner_img_height || theme.index.banner_img_height
var banner_mask_alpha = page.banner_mask_alpha || theme.index.banner_mask_alpha
%>

<%- partial('_partial/head') %>

<head>
  <!-- Live2D Settings -->
  <!--<link rel="stylesheet" type="text/css" href="https://www.example.com/path/to/waifu.css"/>-->
  <!--

  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
  <script src="/live2d-widget/autoload.js"></script>
  
  -->
 
</head>

<body>
  <header style="height: <%- banner_img_height %>vh;">
    <%- partial('_partial/nav') %>
    <div class="view intro-2" id="background" <%- theme.banner_parallax && 'parallax=true' %>
         style="background: url('<%- url_for(banner_img) %>') no-repeat center center;
           background-size: cover;">
      <div class="full-bg-img">
        <div class="mask flex-center" style="background-color: rgba(0, 0, 0, <%= parseFloat(banner_mask_alpha) %>)">
          <div class="container text-center white-text fadeInUp">
            <span class="h2" id="subtitle">
              <% if(theme.fun_features.typing.enable == false) { %>
                <%- subtitle %>
              <% } %>
            </span>

            <% if(is_post()) { %>
              <%- partial('_partial/post-meta') %>
            <% } %>
          </div>

          <% if (theme.scroll_down_arrow.enable && theme.scroll_down_arrow.banner_height_limit <= banner_img_height) { %>
            <div class="scroll-down-bar">
              <i class="iconfont icon-arrowdown"></i>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </header>

  <main>
      <!-- 鼠标烟花特效 -->
  <canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas> 
  <script type="text/javascript" src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script> 
  <script type="text/javascript" src="/js/fireworks.js"></script>

    <!--浏览器搞笑标题-->
    <!-- <script type="text/javascript" src="/js/FunnyTitle.js"></script> -->

    <!--动态线条背景-->
    <!--<script type="text/javascript"
    color="220,220,220" opacity='0.7' zIndex="-2" count="200" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js">
    </script>-->


    <% if(is_post() || page.layout == '404') { %>
      <%- body %>
    <% } else { %>
      <div class="container nopadding-md">
        <div class="py-5" id="board"
          <%- banner_img_height >= 100 && theme.banner_parallax ? 'style=margin-top:0' : '' %>>
          <% if(page.layout == 'about') { %>
            <div class="about-avatar">
              <img src="<%- url_for(theme.about.avatar) %>"
                   class="img-fluid" alt="avatar">
            </div>
          <% } %>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-10 m-auto">
                <%- body %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </main>

  <% if (theme.scroll_top_arrow.enable) { %>
    <a id="scroll-top-button" href="#" role="button">
      <i class="iconfont icon-arrowup" aria-hidden="true"></i>
    </a>
  <% } %>

  <% if (theme.search.enable) { %>
    <%- partial('_partial/search') %>
  <% } %>

  <% if (theme.aplayer && theme.aplayer.enable && theme.aplayer.songs) { %>
    <!-- APlayer 音乐播放器 -->
    <div id="aplayer"></div>
    <%- partial('_partial/plugins/aplayer.ejs') %>
  <% } %>

  <% if (theme.custom_html) { %>
    <div class="col-lg-7 mx-auto nopadding-md">
      <div class="container custom mx-auto">
        <%- theme.custom_html %>
      </div>
    </div>
  <% } %>

   <!-- Live2D Settings -->
 <script src="https://zhenyumi.github.io/live2d/autoload.js"></script>
 <!-- <script src="/live2d-widget/autoload.js"></script> -->
  <!--

  <div class="waifu">
    <div class="waifu-tips"></div>
    <canvas id="live2d" class="live2d"></canvas>
    <div class="waifu-tool">
        <span class="fui-home"></span>
        <span class="fui-chat"></span>
        <span class="fui-eye"></span>
        <span class="fui-user"></span>
        <span class="fui-photo"></span>
        <span class="fui-info-circle"></span>
        <span class="fui-cross"></span>
    </div>
  </div>

<script src="/live2d-widget/waifu-tips.js"></script>
<script src="/live2d-widget/live2d.js"></script>

<script type="text/javascript">
    live2d_settings['modelId'] = 1;
    live2d_settings['modelTexturesId'] = 87;
  initModel("/live2d-widget/waifu-tips.json")
</script>

-->
  <%- partial('_partial/footer', { data: { 'subtitle': subtitle } }) %>

</body>


</html>
